.Design {  
    position: relative;
    left: 800px;
    top: 100px;
    height: fit-content;
    width: 450px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.body{
    background-color: black;
}